
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.keyboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  background-color: #d3d6db; /* Light grey background similar to the image */
  padding: 10px;
  border-radius: 10px;
  width: 100%;
}

.keyboard-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  width: 100%;
}

.keyboard-key {
  margin: 5px;
  font-size: 20px;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 300px;
  padding-bottom: 15px;
  height: 50px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  position: relative;
  display: flex;
  align-items: self-start;
  justify-content: center;
}

.keyboard-key.zero-key {
  align-items: center;
}

.keyboard-key .subtext {
  font-size: 10px;
  position: absolute;
  bottom: 25%;
  left: 50%;
  transform: translate(-50%, 25%);
  color: #888;
}

.keyboard-key:active {
  background-color: #e0e0e0;
}

/* Center the icon within the button */
.keyboard-key svg {
  vertical-align: middle;
}

/* Add responsiveness for smaller screens */
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.inputs {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

input {
  padding: 5px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  background-color: #fff; /* Ensure input fields have the same background */
  width: 48px;
  height: 48px;
  font-size: 24px;
  border: 1px solid rgb(148, 146, 146);
  border-radius: 5px;
}

/* Add responsiveness for smaller screens */
input:focus{
  border: 2px solid green;
  outline: none;

}
.backspace{
  background: transparent;
  outline: none;
  box-shadow: none;
  border: unset;
  align-items: center;
}
.close{
  margin-top: 1000px;
  transition: margin-top 30ms ease-in;

}
.open{
  margin-top: 0;
  transition: margin-top 300ms ease-out;
}
.fake-done{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.fake-done > button{
  background: transparent;
  color: dodgerblue;
  outline: unset;
  border: unset;
}
.hidden-key{
  pointer-events: none;
  visibility: hidden;
}